schemas/EnvioBOLETA_v11.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="http://www.sii.cl/SiiDte" xmlns:SiiDte="http://www.sii.cl/SiiDte" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsignature_v10.xsd"/>
	<!--
	  Modificacion		 : 16 de Abril del  2007.
         Nueva version		: EnvioBOLETA_v11.xsd
         Modificacion 		: 22 de Abril del  2010.
         Nueva version		: EnvioBOLETA_v11.xsd
      -->
	<xs:element name="EnvioBOLETA">
		<xs:annotation>
			<xs:documentation>Envio de Boletas Electronicas</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SetDTE">
					<xs:annotation>
						<xs:documentation>Conjunto de Boletas enviadas</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Caratula">
								<xs:annotation>
									<xs:documentation>Resumen de Informacion Enviada</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RutEmisor">
											<xs:annotation>
												<xs:documentation>RUT Emisor de las Boletas</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="SiiDte:RUTType"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RutEnvia" type="SiiDte:RUTType">
											<xs:annotation>
												<xs:documentation>RUT que envia las Boletas</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RutReceptor" type="SiiDte:RUTType">
											<xs:annotation>
												<xs:documentation>RUT al que se le envian las Boletas</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="FchResol" type="xs:date">
											<xs:annotation>
												<xs:documentation>Fecha de Resolucion que Autoriza la Emision de Boletas (AAAA-MM-DD)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NroResol">
											<xs:annotation>
												<xs:documentation>Numero de Resolucion que Autoriza la Emision de Boletas</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TmstFirmaEnv" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Fecha y Hora de la Firma del Archivo de Envio</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SubTotDTE" maxOccurs="2">
											<xs:annotation>
												<xs:documentation>Subtotales de Boletas Enviadas</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TpoDTE" type="SiiDte:DTEType">
														<xs:annotation>
															<xs:documentation>Tipo de Boleta Enviada</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="NroDTE" type="xs:positiveInteger">
														<xs:annotation>
															<xs:documentation>Numero de Boletas Enviadas</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="version" type="xs:decimal" use="required" fixed="1.0"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="DTE" type="SiiDte:BOLETADefType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Boletas Electronicas Enviadas</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:ID" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ds:Signature"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required" fixed="1.0"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BOLETADefType">
		<xs:annotation>
			<xs:documentation>Boleta Electronica</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Documento">
				<xs:annotation>
					<xs:documentation>Informacion Tributaria de la Boleta</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Encabezado">
							<xs:annotation>
								<xs:documentation>Identificacion y Totales del Documento</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IdDoc">
										<xs:annotation>
											<xs:documentation>Identificacion del DTE</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TipoDTE" type="SiiDte:DTEType">
													<xs:annotation>
														<xs:documentation>Tipo de Boleta</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Folio" type="SiiDte:FolioType">
													<xs:annotation>
														<xs:documentation>Folio del Documento Electronico</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="FchEmis" type="xs:date">
													<xs:annotation>
														<xs:documentation>Fecha Emision Contable del DTE (AAAA-MM-DD)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IndServicio">
													<xs:annotation>
														<xs:documentation>Indica el Tipo de Transaccion</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:positiveInteger">
															<xs:enumeration value="1">
																<xs:annotation>
																	<xs:documentation>Boleta de Servicios Periodicos</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="2">
																<xs:annotation>
																	<xs:documentation>Boleta de Servicios Periodicos Domiciliarios</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="3">
																<xs:annotation>
																	<xs:documentation>Boleta de Ventas y Servicio</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="4">
																<xs:annotation>
																	<xs:documentation>Boleta de Espectáculo emitida por  cuenta de Terceros</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="IndMntNeto" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Indica el Uso de Montos Netos en Detalle</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:enumeration value="2">
																<xs:annotation>
																	<xs:documentation>Monto de Lineas de Detalle  Corresponde a Valores Netos</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="PeriodoDesde" type="xs:date" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Periodo de Facturacion - Desde (AAAA-MM-DD)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="PeriodoHasta" type="xs:date" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Periodo Facturacion - Hasta (AAAA-MM-DD)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="FchVenc" type="xs:date" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Fecha de Vencimiento del Pago (AAAA-MM-DD)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Emisor">
										<xs:annotation>
											<xs:documentation>Datos del Emisor</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="RUTEmisor" type="SiiDte:RUTType">
													<xs:annotation>
														<xs:documentation>RUT del Emisor del DTE</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RznSocEmisor" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Nombre o Razon Social del Emisor</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="GiroEmisor" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Giro del Emisor que Corresponde a la Transaccion</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="80"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CdgSIISucur" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Codigo de Sucursal Entregado por el SII</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:positiveInteger">
															<xs:totalDigits value="9"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="DirOrigen" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Direccion de Origen o Emision</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="70"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CmnaOrigen" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Comuna de Origen</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CiudadOrigen" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Ciudad de Origen</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Receptor">
										<xs:annotation>
											<xs:documentation>Datos del Receptor</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="RUTRecep" type="SiiDte:RUTType">
													<xs:annotation>
														<xs:documentation>RUT del Receptor del DTE</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CdgIntRecep" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Codigo Interno del Receptor</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="RznSocRecep" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Nombre o Razon Social del Receptor</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Contacto" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Telefono o E-mail de Contacto del Receptor</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="80"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="DirRecep" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Direccion en la Cual se Envian los Productos o se Prestan los Servicios</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="70"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CmnaRecep" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Comuna de Recepcion</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CiudadRecep" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Ciudad de Recepcion</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="DirPostal" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Direccion Postal</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="70"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CmnaPostal" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Comuna Postal</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CiudadPostal" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Ciudad Postal</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Totales">
										<xs:annotation>
											<xs:documentation>Montos Totales del DTE</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="MntNeto" type="SiiDte:MontoType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Monto Neto</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="MntExe" type="SiiDte:MontoType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Monto Exento</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IVA" type="SiiDte:MntImpType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Monto de IVA</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="MntTotal" type="SiiDte:MontoType">
													<xs:annotation>
														<xs:documentation>Monto Total</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="MontoNF" type="SiiDte:ValorType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Monto No Facturable - Corresponde a Bienes o Servicios Facturados Previamente</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TotalPeriodo" type="SiiDte:MontoType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Total de Ventas o Servicios del Periodo</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="SaldoAnterior" type="SiiDte:ValorType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Saldo Anterior - Puede ser Negativo o Positivo</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="VlrPagar" type="SiiDte:ValorType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Valor a Pagar Total del Documento</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Detalle" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Detalle de Itemes del Documento</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NroLinDet" type="xs:positiveInteger">
										<xs:annotation>
											<xs:documentation>Numero Secuencial de Linea</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CdgItem" minOccurs="0" maxOccurs="5">
										<xs:annotation>
											<xs:documentation>Codificacion del Item</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TpoCodigo">
													<xs:annotation>
														<xs:documentation>Tipo de Codificacion</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="VlrCodigo">
													<xs:annotation>
														<xs:documentation>Valor del Codigo de Item, para la Codificacion Particular</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="IndExe" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicador de Exencion/Facturacion</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Producto o Servicio es Exento o No Afecto</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>El Producto o Servicio NO ES Facturable</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemEspectaculo" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indica si el ítem es :
01: TICKET
02: VALOR SERVICIO</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:maxInclusive value="2"/>
												<xs:totalDigits value="2"/>
												<xs:enumeration value="01">
													<xs:annotation>
														<xs:documentation>Producto o Servicio es Exento o No Afecto</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="02">
													<xs:annotation>
														<xs:documentation>El Producto o Servicio NO ES Facturable</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="RUTMandante" type="SiiDte:RUTType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Rut de la Empresa Mandante de la Boleta</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NmbItem">
										<xs:annotation>
											<xs:documentation>Nombre del Item</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="80"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="InfoTicket" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Informacion de la entrada</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FolioTicket">
													<xs:annotation>
														<xs:documentation>Corresponde a la numeración única para el evento.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:positiveInteger">
															<xs:totalDigits value="6"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="FchGenera">
													<xs:annotation>
														<xs:documentation>Corresponde a la fecha y hora de generación del ticket
(AAAA-MM-DDThh:mm:ss)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:dateTime">
															<xs:minInclusive value="2010-03-10T00:00:00"/>
															<xs:maxInclusive value="2050-12-31T23:59:59"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="NmbEvento">
													<xs:annotation>
														<xs:documentation>Nombre del Espectáculo</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="80"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="TpoTiket">
													<xs:annotation>
														<xs:documentation>Tipo de ticket, Por ejemplo: Adulto, Niño, etc</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CdgEvento">
													<xs:annotation>
														<xs:documentation>Código asociado al Evento</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="5"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="FchEvento">
													<xs:annotation>
														<xs:documentation>Fecha y hora de realización del evento AAAA-MM-DDThh:mm:ss)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:dateTime">
															<xs:minInclusive value="2010-03-10T00:00:00"/>
															<xs:maxInclusive value="2050-12-31T23:59:59"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="LugarEvento">
													<xs:annotation>
														<xs:documentation>Dirección o identificación del recinto donde se realizará el  Espectáculo</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="80"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="UbicEvento">
													<xs:annotation>
														<xs:documentation>Sector/Sección de la ubicación en el evento</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="FilaUbicEvento" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Fila correspondiente a la Ubicación en el evento</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="AsntoUbicEvento" minOccurs="0">
													<xs:annotation>
														<xs:documentation>N° de Asiento correspondiente a la Ubicación en el evento</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DscItem" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Descripcion del Item</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="QtyItem" type="SiiDte:Dec5Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Cantidad del Item</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UnmdItem" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Unidad de Medida</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PrcItem" type="SiiDte:Dec5Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Precio Unitario del Item en Pesos</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DescuentoPct" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Porcentaje de Descuento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="SiiDte:PctType">
                                                                                            <!--<xs:minInclusive value="0.00"/>--> <!-- LibreDTE: invalid schema -->
												<xs:maxInclusive value="100.00"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DescuentoMonto" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Monto de Descuento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:nonNegativeInteger">
												<xs:totalDigits value="18"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="RecargoPct" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Porcentaje de Recargo</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="SiiDte:PctType">
												<xs:maxInclusive value="100.00"/>
<!-- 												<xs:minInclusive value="0.00"/> --> <!-- LibreDTE: invalid schema -->
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="RecargoMonto" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Monto de Recargo</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:nonNegativeInteger">
												<xs:totalDigits value="18"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MontoItem" type="SiiDte:MontoType">
										<xs:annotation>
											<xs:documentation>Monto por Linea de Detalle. Corresponde al Monto Bruto, a menos que IndMntNeto Indique lo Contrario </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SubTotInfo" minOccurs="0" maxOccurs="20">
							<xs:annotation>
								<xs:documentation>Subtotales Informativos</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NroSTI">
										<xs:annotation>
											<xs:documentation>Número de Subtotal </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:maxInclusive value="99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="GlosaSTI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Glosa</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="80"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OrdenSTI">
										<xs:annotation>
											<xs:documentation>Ubicación para Impresión </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:maxInclusive value="99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SubTotNetoSTI" type="SiiDte:Dec1Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Neto del Subtotal</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SubTotIVASTI" type="SiiDte:Dec1Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor del IVA del Subtotal</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SubTotAdicSTI" type="SiiDte:Dec1Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor de los Impuestos adicionales o específicos del Subtotal</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SubTotExeSTI" type="SiiDte:Dec1Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor no Afecto o Exento del Subtotal</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ValSubtotSTI" type="SiiDte:Dec1Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor de la línea de subtotal</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineasDeta" minOccurs="0" maxOccurs="60">
										<xs:annotation>
											<xs:documentation>TABLA de  Líneas de Detalle que se agrupan en el Subtotal</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:maxInclusive value="60"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DscRcgGlobal" minOccurs="0" maxOccurs="20">
							<xs:annotation>
								<xs:documentation>Descuentos y/o Recargos que afectan al total del Documento</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NroLinDR">
										<xs:annotation>
											<xs:documentation>Numero Secuencial de Linea</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:maxInclusive value="99"/>
												<xs:minInclusive value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TpoMov">
										<xs:annotation>
											<xs:documentation>Tipo de Movimiento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="D">
													<xs:annotation>
														<xs:documentation>Descuento</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="R">
													<xs:annotation>
														<xs:documentation>Recargo</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="GlosaDR" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Descripcion del Descuento o Recargo</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="45"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TpoValor">
										<xs:annotation>
											<xs:documentation>Unidad en que se Expresa el Valor</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="%">
													<xs:annotation>
														<xs:documentation>El valor se Expresa como Porcentaje</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="$">
													<xs:annotation>
														<xs:documentation>El Valor se Expresa en Pesos</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ValorDR" type="SiiDte:Dec1Type">
										<xs:annotation>
											<xs:documentation>Valor del Descuento o Recargo</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IndExeDR" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indica si el Descuento o Recargo Afecta a Itemes Exentos o No Facturables</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Afecta a Productos Exentos o No Afectos</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>Afecta aProductos No Facturables</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Referencia" minOccurs="0" maxOccurs="40">
							<xs:annotation>
								<xs:documentation>Identificacion de otros documentos Referenciados por Documento</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NroLinRef">
										<xs:annotation>
											<xs:documentation>Numero Secuencial de Linea de Referencia</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:maxInclusive value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CodRef" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Codigo Interno del Tipo de Referencia</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="18"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="RazonRef" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Razon Explicita por la que se Referencia el Documento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="90"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CodVndor" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código del Vendedor establecido por la Empresa. Puede estar asociado a INTERNET</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CodCaja" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código de la caja establecido por la Empresa</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TED">
							<xs:annotation>
								<xs:documentation>Timbre Electronico de la Boleta</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DD">
										<xs:annotation>
											<xs:documentation>Datos Basicos de Documento</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="RE" type="SiiDte:RUTType">
													<xs:annotation>
														<xs:documentation>RUT Emisor</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TD" type="SiiDte:DTEType">
													<xs:annotation>
														<xs:documentation>Tipo DTE</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="F" type="SiiDte:FolioType">
													<xs:annotation>
														<xs:documentation>Folio DTE</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="FE" type="xs:date">
													<xs:annotation>
														<xs:documentation>Fecha Emision DTE en Formato AAAA-MM-DD</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RR" type="SiiDte:RUTType">
													<xs:annotation>
														<xs:documentation>RUT Receptor</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RSR">
													<xs:annotation>
														<xs:documentation>Razon Sociall Receptor</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="MNT" type="xs:unsignedLong">
													<xs:annotation>
														<xs:documentation>Monto Total DTE</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IT1">
													<xs:annotation>
														<xs:documentation>Descripcion Primer Item de Detalle</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CAF">
													<xs:annotation>
														<xs:documentation>Codigo Autorizacion Folios</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="DA">
																<xs:annotation>
																	<xs:documentation>Datos de Autorizacion de Folios</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="RE" type="SiiDte:RUTType">
																			<xs:annotation>
																				<xs:documentation>RUT Emisor</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="RS">
																			<xs:annotation>
																				<xs:documentation>Razon Social Emisor</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="40"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="TD" type="SiiDte:DTEType">
																			<xs:annotation>
																				<xs:documentation>Tipo DTE</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="RNG">
																			<xs:annotation>
																				<xs:documentation>Rango Autorizado de Folios</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="D" type="SiiDte:FolioType">
																						<xs:annotation>
																							<xs:documentation>Folio Inicial (Desde)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="H" type="SiiDte:FolioType">
																						<xs:annotation>
																							<xs:documentation>Folio Final (Hasta)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="FA" type="xs:date">
																			<xs:annotation>
																				<xs:documentation>Fecha Autorizacion en Formato AAAA-MM-DD</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:choice>
																			<xs:element name="RSAPK">
																				<xs:annotation>
																					<xs:documentation>Clave Publica RSA del Solicitante</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="M" type="xs:base64Binary">
																							<xs:annotation>
																								<xs:documentation>Modulo RSA</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="E" type="xs:base64Binary">
																							<xs:annotation>
																								<xs:documentation>Exponente RSA</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="DSAPK">
																				<xs:annotation>
																					<xs:documentation>Clave Publica DSA del Solicitante</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="P" type="xs:base64Binary">
																							<xs:annotation>
																								<xs:documentation>Modulo Primo</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="Q" type="xs:base64Binary">
																							<xs:annotation>
																								<xs:documentation>Entero Divisor de P - 1</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="G" type="xs:base64Binary">
																							<xs:annotation>
																								<xs:documentation>Entero f(P, Q)</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="Y" type="xs:base64Binary">
																							<xs:annotation>
																								<xs:documentation>G**X mod P</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:choice>
																		<xs:element name="IDK" type="xs:long">
																			<xs:annotation>
																				<xs:documentation>Identificador de Llave</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="FRMA">
																<xs:annotation>
																	<xs:documentation>Firma Digital (RSA) del SII Sobre DA</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:simpleContent>
																		<xs:extension base="xs:base64Binary">
																			<xs:attribute name="algoritmo" type="xs:string" use="required" fixed="SHA1withRSA"/>
																		</xs:extension>
																	</xs:simpleContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="version" use="required" fixed="1.0"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="TSTED" type="xs:dateTime">
													<xs:annotation>
														<xs:documentation>TimeStamp de Generacion del Timbre</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="FRMT">
										<xs:annotation>
											<xs:documentation>Valor de Firma Digital  sobre DD</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:base64Binary">
													<xs:attribute name="algoritmo" use="required">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="SHA1withRSA"/>
																<xs:enumeration value="SHA1withDSA"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="version" use="required" fixed="1.0"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="TmstFirma" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>Fecha y Hora en que se Firmo Digitalmente el Documento AAAA-MM-DDTHH:MI:SS</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ds:Signature"/>
		</xs:sequence>
		<xs:attribute name="version" type="xs:decimal" use="required" fixed="1.0"/>
	</xs:complexType>
	<xs:simpleType name="RUTType">
		<xs:annotation>
			<xs:documentation>Rol Unico Tributario (99..99-X)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="3"/>
			<xs:pattern value="[0-9]+-([0-9]|K)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DTEType">
		<xs:annotation>
			<xs:documentation>Tipos de Documentos Tributarios Electronicos</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:enumeration value="39">
				<xs:annotation>
					<xs:documentation>Boleta Electronica</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="41">
				<xs:annotation>
					<xs:documentation>Boleta Exenta Electronica</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MntImpType">
		<xs:annotation>
			<xs:documentation>Monto de Impuesto - 18 digitos</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MontoType">
		<xs:annotation>
			<xs:documentation>Monto de 18 digitos - Incluye el cero</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ValorType">
		<xs:annotation>
			<xs:documentation>Monto de 18 digitos - Positivo o Negativo</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FolioType">
		<xs:annotation>
			<xs:documentation>Folio de DTE - 10 digitos</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dec1Type">
		<xs:annotation>
			<xs:documentation>Monto con 16 Digitos de Cuerpo y 2 Decimales </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dec5Type">
		<xs:annotation>
			<xs:documentation>Monto con 12 Digitos de Cuerpo y 6 Decimales</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="6"/>
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PctType">
		<xs:annotation>
			<xs:documentation>Monto de Porcentaje ( 3 y 2)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="999.99"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
